@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@900&display=swap');

:root {
    --color-lg: rgb(103, 50, 209);
    --color-lg-dark: rgb(41, 20, 84);
    --color-lg-light: rgb(118, 85, 233);
    --color-log-extra-light: rgb(225, 214, 246);
    --color-bg: rgb(247, 249, 250);
    --color-dark: rgb(33, 37, 41);
    --color-dark-light: rgb(90, 101, 112);
    --color-yellow: rgb(254, 210, 35);
    --color-pink: rgb(244, 72, 227);
    --font-family: 'Noto Sans', sans-serif;
}




/* ============Nav bar============= */
.navbar {
    width: 100%;
    font-family: var(--font-family);
    font-weight:600;
    font-size: 14px;
    position: fixed;
    background-color:#fff;
    z-index:4;
    top:0;
    
}


.Nav_img {
    width: 120px;
    height: 100px;
    margin-right: 20px;

}
.link1,.link2,.link3{
    text-decoration: none;
    color: black;
    padding: 1rem;
    position: relative;
}
.link1:hover,.link2:hover,.link3:hover{
    color:black;
}

.link1:hover::after {
    content: "";
    border-top: 1px solid var(--color-lg-light);
    border-bottom: 1px solid var(--color-lg-light);
    border-left: 98px solid var(--color-lg-light);
    position: absolute;
   top:80%;
   left:15%;

}


.link2:hover:after {
    content: "";
    border-top: 1px solid var(--color-lg-light);
    border-bottom: 1px solid var(--color-lg-light);
    border-left: 78px solid var(--color-lg-light);
    position: absolute;
    top:80%;
    left:20%;
}

.link3:hover:after {
    content: "";
    border-top: 1px solid var(--color-lg-light);
    border-bottom: 1px solid var(--color-lg-light);
    border-left: 100px solid var(--color-lg-light);
    position: absolute;
    top:80%;
    left:15%;
}
.items{
    display: flex;
    justify-content: space-between
}
.l-link{
    display: grid;
    place-items: center;
}






.login{
    border: 1px solid var(--color-lg);
    color: var(--color-lg);
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.login:hover {
    border: 1px solid var(--color-lg-light);
    background-color: var(--color-lg-light)
}

.singup {
    border: 1px solid var(--color-lg);
    color: #fff;
    font-weight:600;
    margin-left: 20px;
    border-radius: 7px;
    padding: 10px 25px;
    background-color: var(--color-lg);
   font-size: 16px;
   display: flex;
    align-items: center;
}

.singup:hover {
    border: 1px solid var(--color-lg-light);
    background-color: var(--color-lg-light)
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2856, 21, 127, .95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler-icon{
    width:3rem;
    height: 3rem;
}
.btn_three_line:focus {
    outline: none;
    box-shadow: none;
  }
  .btn_three_line{
      border: none;
  }


.navstyleonclick{
    background-color:rgb(41, 20, 84);
    color: #fff;
    height:100vh;
    margin-top:0;
}
.nav_fontAwosome{
   font-size: 1.5rem;
  margin:auto;
  display: grid;
  gap:1rem;
  
}
.fa-brands{
    color: #fff;
}
.nav_fontAwosome{
    display: none;
}
.navbar-toggler-icon2{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, .95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* =================fist section=========== */

.first__section{
   position: relative;
   padding-top: 10rem;
    
}

.headlin>div>h1 {
    max-width: 40rem;
    margin-left: 3rem;
    font-size: clamp(1rem, 10vw, 4rem);
    font-weight: 600;
    font-family: var();
    font-family: "Source Serif Pro", sans-serif;
    ;

}

.headlin>div>h1>span {
    color: var(--color-lg);
    font-weight:700;
}
.paragraph{
    display:grid;
    justify-content: center;
}
.paragraph>p {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-dark-light);
    font-weight: 400;
    max-width:40rem;

    
}

.paragraph>p>span {
    font-weight:600;
}

.first__section-button {
    border: 1px solid var(--color-lg);
    color: #fff;
    margin-left: 2rem;
    max-width:17rem;
    min-height: 3.3rem;
    padding:1rem;
    font-weight:600;
    border-radius: 7px;
    background-color: var(--color-lg);
    font-size: clamp(.5rem, 2.5vw, .8rem);
}

.first__section-button:hover {
    border: 1px solid var(--color-lg-light);
    background-color: var(--color-lg-light)
}


.img1>img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* chat=================== */
.chat {
    z-index: 2;
    position: fixed;
    font-size: 50px;
    color: rgb(118, 85, 233);
    top: 84%;
    left: 20px;
    border: none;
    background-size: 10px;
}

/* scroll bar header================ */
.scroll__bar-header {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    margin-top: 100px;
}




/* scrolling bar for items=================================== */
.m-scroll {
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
}

.m-scroll__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transform: scale(1);
    transition: all 1s ease;
}

.m-scroll__title>div {
    display: flex;
    animation: scrollText 33s infinite linear;
}

.m-scroll__title>h1 {
    margin: 0;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    transition: all 2seconds ease-in-out;
}

.img__scroll {
    padding-left: 20px;
}


/*div:hover {
    animation-play-state: paused;
  }*/
@keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

/* second section========================================== */



.second__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 100%;
    height: auto;
    

}
.s2_mobile_img{
    display: grid;
    justify-content: center;
  
}

.mobile__img_div {
     background-color: #291454;
    width: 30.69444444444444em;
    border-radius: 55.55555555555556em 55.55555555555556em 2.2222222222222223em;
    z-index: 0;
    /* position: absolute; */
     left: 0;
    top: 0;
    bottom: 0;
    display: grid;
    justify-content: center; 
}

.img__mobile {
  margin-top: 2rem;
  max-width:30rem;
  max-height: 30rem; 
}
   





/* increase number box=============================================== */
.inrease__number-box {
    /* padding-right: 10px; */
    width: 60%;
    height:35rem;
    background-color: var(--color-log-extra-light);
    border-radius: 20px;
    z-index:3;
    position: absolute;
    left:25rem;
    top: 0rem;
    padding-left:5%;
    padding-top:5%; 


}



 .heading>p {
    line-height:120%;
    font-weight: 500;
    font-family:'Source Sans Pro', sans-serif;
    font-size: clamp(20px, 2.5vw, 40px);
 
} 


 .heading span {
    font-weight:600;
} 

/* number========= */
 .number {
    font-family:'Source Sans Pro', sans-serif;
    margin-left: 10px;
    margin-top: 40px;
   display: grid;
   grid-template-columns:1fr 1fr;
}

.number1>h3,
.number2>h3,
.number3>h3,
.number4>h3 {
    color: var(--color-lg);
}

#n1,
#n2,
#n3,
#n4 {
    font-size: clamp(2.5rem, 3.5vw, 4rem);
    color: var(--color-lg);
    font-family:'Source Sans Pro', sans-serif;
    font-weight: 600;
}

 .number1>span,
.number2>span {
    font-size: 1.125rem;

} 

 .number1>p,
.number2>p,.number3>p,.number4>p {
    font-size: 1rem;
    color: var(--color-dark);
    font-weight: 400;
} 

 .number1>p>span,
.number2>p>span,
.number3>p>span,
.number4>p>span {
    font-weight:600;
} 

 #n1::before,
#n2::before,
#n3::before,
#n4::before {
    content: "";
     border-top: 0px solid var(--color-lg-light);
    border-bottom: 1px solid var(--color-lg-light);
    border-left: 18rem solid var(--color-lg-light); 
    position:absolute;

} 


.number1,.number2,.number3,.number4{
    position: relative;
    overflow:hidden;
    margin-right: 0.5rem;
} 

  


/* yellow div======================================== */

.Yellow {
    width: 100%;
    height:15rem;
    background-color: var(--color-yellow);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    margin-top: 500px;

}

/* employe========================================= */
/* section4 */
.forth__section {
    display: flex;
    padding: 10px;

}

.skill {
    width: 150px;
    height: 150px;
    /* background:cornflowerblue; */
    position: relative;
}

.outer {
    height: 100px;
    width: 100px;
    padding: 20px;


}

.inner {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.circle1 {
    fill: none;
    stroke: var(--color-pink);
    stroke-width: 5px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    /* animation: anim 3s linear forwards; */
}

.circle2 {
    fill: none;
    stroke: var(--color-pink);
    stroke-width: 5px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    /* animation: anim 3s linear forwards; */
    /* animation-delay: 3s; */
}

.circle3 {
    fill: none;
    stroke: var(--color-pink);
    stroke-width: 5px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    /* animation: anim 3s linear forwards; */
    animation-delay: 6s;
}

.circle4 {
    fill: none;
    stroke: var(--color-pink);
    stroke-width: 5px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    /* animation: anim 3s linear forwards; */
    animation-delay: 9s;
}

svg {
    position: absolute;

}

@keyframes anim {
    100% {
        stroke-dashoffset: 0;
    }
}

.main__4th-section {
    width:100%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-family: 'Source Serif Pro', serif;
    background-color: var(--color-lg)

}
.main__4th-section>h1{
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    color:#fff;
    max-width: 30rem;
    margin-left: 4rem;
}
.main__4th-section>h1>span{
    font-weight: 600;
}
/* description of employee=========== */
.m__forth-section {
    background-color: var(--color-lg-dark);
    color: #fff;
    margin: 50px;
    border-radius: 20px;
    border-bottom-right-radius:300px;
    display: grid;
    grid-template-columns: 1fr 5fr;


}

.description__employe {
    font-size: 24px;

    margin-left: 50px;
    margin-top: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}

.description__employe>.e-1a,
.description__employe>.e-2a,
.description__employe>.e-3a,
.description__employe>.e-4a {
    font-weight: 400;
}

.description__employe>.e-1b,
.description__employe>.e-2b,
.description__employe>.e-3b,
.description__employe>.e-4b {
    font-size: 15px;

}

.btn_employ {
    color: #fff;
    margin-left: 10px;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;

}

.btn_employ:hover {
    color: #fff;
    background-color: var(--color-lg-light);
}

.text>h1 {
    color: #fff;
    font-family:'Source Serif Pro', serif;   
    padding:5rem;
    padding-top: 5rem;
    font-weight: 400;
}
.line>h1::after{
    content: "";
    border-top: 1px solid #fff;
   border-bottom: 0px solid #fff;
   border-left: 50rem solid #fff; 
   position:absolute;
   margin-top: 6rem;
 left:26rem;
}
.text>h1>span{
    font-weight: 600;
}


/* 5th section================================= */
.fifth_section {
    padding-top:4rem;
    padding-bottom: 4rem;
    font-family: 'Source Serif Pro', serif;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.box_bar {
    display: flex;
    flex-direction: column;
    font-family: 'Source Serif Pro', serif;
}
.box_bar>h1{
    max-width:25rem;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    font-weight:400;
}
.box_bar>h1>span{
    font-weight: 600;
}
.fith_section_img {
    transition: 2s
}

.fith_section_img>img {
    max-width: 450px;
    object-fit: cover;
    margin-right: .7rem;
    margin-left: 1rem;

}

.box_bar>div {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    font-size: 20px;
    font-family: var(--font-family);
    background-color: rgb(247, 249, 250);


}

.button1,
.button2,
.button3,
.button4,
.button5 {
    transition: 2s;
}



.box_bar>div>div>span {
    font-weight: 400;
    font-size: clamp(1rem, 2.5vw, 2rem);
}

.box_bar>div>div>p {
    display: none;
}

.box_bar>div>img {
    background: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;

}

@keyframes background-color7{
    0%{
        background-color: #fff;
    }
    100%{
        background-color: var(--color-lag)
    }
}

/* range slider========================== */
.range {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:100%;
  margin-top: 1rem;
   
  }
  
  .range__slider {
    width: 100%;
    display: flex;
 
  }
 .slidebar{
    margin-left: 20px;
 }
  
  .range__value {
    width:100%;

    text-align: center;
   color: #ffff;
  }
  
  .form-group {
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }
  
  .form-group label {
    text-transform: uppercase;
    font-size: .7rem;
    color: #222;
    margin-bottom: 5px;
  }
  
  .form-group span {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
  }
  
  .range__slider label {
    margin-bottom: 10px;
  }
  
  .range__slider [type="range"] {
    max-width:30rem;
    -webkit-appearance: none;
    height:8px;
    border-radius: 6px;
    background: #f1f1f1;
    outline: none;
    padding: 0;
    margin: 0;
  }
  
  /* custom thumb */
  .range__slider [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background:#fff;
    border: #fff 5px solid;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }
  
  .range__slider [type="range"]::-webkit-slider-thumb:hover {
    background: #fff;
  }
  
  .range__slider [type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #f0932b;
    border: #f9ca24 5px solid; cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
  }
  
  .range__slider [type="range"]::-moz-range-thumb:hover {
    background: #f9ca24;
  }
  
  /* remove border */
  input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
  }

/* first secion of 6th section============== */
.six__section {
    font-family: 'Source Serif Pro', serif;
   
}


.six_first__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(41, 20, 84);
    width: 100%;
    gap:1rem;


}

.reve-add-block{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
    max-height: 3rem;
    max-width:30rem;
    border-radius:5px;
    margin-right:1rem;
}





/* range input */
.range__input_box {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    height: 50px;
    border-radius: 10px;
    width: 100%;
}

.value__set {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}



.output {
    margin-top: 5px;
}

/* six section=================== */
.s6th_heading{
   color: #fff;
   max-width: 30rem;
   margin-left: 2rem;
   font-weight:400;
}




.six__second_section {
    padding-top: 10px;
    background-color: rgb(41, 20, 84);
    color: #fff;
    display: grid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
}

.six__second_section>h1 {
    margin-left: 3%;
}

.box_results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 3%;
    font-family: 'Source Serif Pro', serif; 

}

.result1,
.result2,
.result3,
.result4 {
    background-color: rgb(103, 50, 209);
    margin: 10px;
    border-radius: 10px;
}

.result1,
.result2 {
    width: 90%;
    height: auto;
    font-size: 15px;
}

.result1>p,
.result2>P {
    color: rgb(225, 214, 246);
    margin-top: 10px;
    margin-left: 10px;
}

.result1>span,
.result2>span {
    margin-left: 20px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;

}

.brl-number {
    font-size: 30px;
}

.result3,
.result4 {
    width: 90%;
    font-size: clamp(.5rem, 5.5vw, 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    font-family: var(--font-family);
    position: relative;
    overflow: hidden;

}

.result3>div::before,
.result4>div::before{
content: "";
border-top: 0px solid var(--color-lg-dark);
border-bottom: 1px solid var(--color-lg-dark);
border-left: 25rem solid var(--color-lg-dark); 
position:absolute;
}

.stress,
.attack,
.drepression_pic {
    margin-left: 20px;
}

.result3::after {
    content: "";
    border-top: 1px solid black;
    border-bottom: 1px solid var black;
    border-left: 98px solid var black;
}

/* seven==================== */
.seven_section {
    background-color: var(--color-lg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}

.seven_left {
    max-width: 100%;
    color: #fff;
    font-family: 'Source Serif Pro', serif; 
    margin-left: 10%;
}

.seven_left>h1 {
    font-weight:600;
    padding-top:2rem;
}

.seven_right_left,
.seven_right_right {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;


}

.right_text {
    color: #fff;
    margin-top:3rem;
}

.right_text>h1 {
    font-size: 20px;
    margin-left: 1%;
 
}

.seven_right_left>input,
.seven_right_right>input {
    max-width: 100%;
    min-height: 40px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    text-decoration: none;
}

.seven_right_left>label,
.seven_right_right>label {
    margin-top: 10px;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: none;
    border: none;

}

.seven_rihgt {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-right:20%;
}



.home_section7th_button {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-column: span 2;
}
.home_section7th_button>button{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font-family);
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 0, 0);
    padding: 10px 35px;
}
.fa-star{
    color: red;
    font-size: 5px;
    margin-bottom:10px;
}


/* eight section============= */
.eight_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(225, 214, 246);
    padding:4%;
}

.e-section {
    margin-left: 20px;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    font-family: var(--font-family);
}

.e-section>p::before {
    content: "";
    border-top: 1px solid var(--color-lg-light);
    border-bottom: 0px solid var(--color-lg-light);
    border-left: 200px solid var(--color-lg-light);
    position: absolute;

}

.e-section>a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-lg);

}

.e-section>a:hover {
    text-decoration: underline;
}


/* nine section========================= */

.nine_section {
    display: flex;
    background-color: var(--color-lg);
}

.light_img>img {
    width: 800px;
    height: 500px;
    margin: 50px;
    border-radius: 20px;
}

.card_light {

    font-family: var(--font-family);
    width: 400px;
    height: auto;
    border: none;
}

.card-title {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
}

.card1 {
    top: 200px;
    /* position: relative; */
    left: -100px;
    padding: 20px 20px;
    border-radius: 10px;
    height: 300px;
}

.card>input {
    width: 150px;
    border: 1px solid rgb(179, 177, 177);
    border-radius: 5px;
    margin-left: 10px;
    align-items: center;
    color: rgb(179, 177, 177);
}

.card_light.card.card-link {
    color: var(--color-lg);
}

.card-body>p {
    color: rgb(179, 177, 177);

}

.card-body>p>span {
    font-weight: bold;
    color: rgb(14, 12, 12);
}

/* 10th section */
.tenth_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color-lg);
    padding-bottom: 50px;
}

.card2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
}

.card-body>input {
    border: 1px solid rgb(179, 177, 177);
    color: rgb(179, 177, 177);
    border-radius: 5px;
    margin-bottom: 20px;

}

.card>img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hiden_card {
    display: none;
}


.transfrom {
    transform: scale(1.01);
}

.btn_card1,
.btn_card2,
.btn_card3,
.btn_card4 {
    margin-top: 100px;
    border: none;
    color: rgb(103, 50, 209);
    font-weight: 400;
}

/* footer */
.f1,
.f2,
.f3,
.f4,
.f5,
.f5,
.f6 {
    display: grid;
    grid-template-columns: 1fr
}

.footer1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: var(--color-lg-dark);
    color: #fff;
    padding-top: 50px;
    font-family: var(--font-family);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4rem;
}

.f1>a,
.f2>a,
.f3>a,
.f4>a,
.f5>a,
.f6>a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.f1>a:hover,
.f2>a:hover,
.f3>a:hover,
.f4>a:hover,
.f5>a:hover {
    color: var(--color-lg)
}

.f3>label {
    font-size: 12px;
    margin-top: 10px;
}

.f5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;

}

.f5>a {
    font-size: 20px;
    height: 30px;
    padding-left: 5px;
    width: 30px;
    border-radius: 50%;
}

.f5>a:hover {
    color: #f1f1f1;
    background-color: var(--color-lg)
}


.f6>button {
    width: 170px;
    height: 50px;
}